.custom-img-style {
    width: 100%;
    display: block;
    margin: 0 auto;
    /* height: 200px; */
}

.product-desc-container {
    padding-top: 15px;
    padding-bottom: 15px;
}

.custom-products-cart-containter {
    padding-top: 20px;
}

.custom-products-cart-containter ul ul {
    width: 75%;
    padding: 15%;
}

.product-cart-item {
    display: flex;
}

.product-cart-item-left {
    display: flex;
}

.card {
    margin-bottom: 0.75rem;
}

.card-block {
    padding: 1.25rem;
}